html {
    background-color: #f8f6f7;
    font-family: sans-serif;
    min-width: 1000px;
}

header {
    min-width: 100%;
    background-color: white;
    margin: 0 auto;
    position: fixed; 
}

.barra_topo {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
    max-width: 1000px;
    margin: 0 auto;
}

.nome {
    font-weight: bold;
}

.a {
    color:  #f35926;
    font-size: 32px;
}

.b {
    color: #fcb929;
    font-size: 32px;
}

.c {
    color: #00b049;
    font-size: 32px;
}

.menu_1 {
    word-spacing: 20px;
}

.busca {
    background-size: 100% 100%;
    background-image: url("../img/barcos.webp");
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 40px;
    margin-bottom: 32px;
}

form {
    margin: 100px auto;
    width: 1000px;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    
}

h2 {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 20px;
}

.input_busca {
    display: flex;
    gap: 10px;
}

input {
    height: 30px;
    width: 180px;
}

button {
    height: 30px;
    width: 180px;
    background-color: #ea3d35;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    border: 0px;
}

section {
    width: 1000px;
    margin: 0 auto 200px;
}

.voos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.voos div {
    width: 225px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
}

.local {
    font-size: 20px;
    color: white;
    margin-top: 48px;
    margin-bottom: 16px;
    text-shadow: 1px 1px 5px black;
}

.preco {
    margin-bottom: 16px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
}

.botao_voos {
    width: 150px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    color: black;
    font-size: 14px;
    font-weight: 100;
}

.rio_de_janeiro {
    background-image: url("../img/rio.webp");
}

.rio_bonito {
    background-image: url("../img/bonito.webp");
}

.sao_paulo {
    background-image: url("../img/sao-paulo.webp");
}

.foz_do_iguacu {
    background-image: url("../img/foz.webp");
}

.maceio {
    background-image: url("../img/maceio.webp");
}

.salvador {
    background-image: url("../img/salvador.webp");
}

.fortaleza {
    background-image: url("../img/fortaleza.webp");
}

.belo_horizonte {
    background-image: url("../img/belo-horizonte.webp");
}
